BaseInterface, ToolBar, #view {
    background-color: transparent;
}

QScrollArea {
    border: none;
}

ToolBar > #titleLabel {
    font: 28px 'Segoe UI SemiBold', 'Microsoft YaHei';
    background-color: transparent;
    color: black;
}

ToolBar > #subtitleLabel {
    font: 12px 'Segoe UI', 'Microsoft YaHei';
    background-color: transparent;
    color: rgb(95, 95, 95);
}
